#check-out-bar {
  width: 100%;
  justify-content: space-between;
  max-width: 35rem;
}

#check-out-bar li {
  aspect-ratio: 1;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--font-clr);
  position: relative;
}

#check-out-bar li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: calc(min(15vw, 5rem));
  height: 0.3rem;
  right: calc(min(15.4vw, 5.5rem) * -1);
  border-radius: 10rem;
  background: var(--light-grey);
}

#check-out-bar li.active-bar:not(:last-child)::after {
  background-color: var(--primary-clr);
}

#detail-page,
#cart-page {
  border-radius: 2rem;
  width: 100%;
  max-width: 30rem;
}

#detail-page > *,
#cart-page > * {
  padding-inline: 2rem;
}

.checkout-cart-total {
  justify-content: space-between;
}
#billing {
  justify-content: space-between;
  align-items: center;
  flex: none;
}

#billing input {
  width: 42.5px;
  aspect-ratio: 1;
  background-color: var(--background-clrs);
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid var(--primary-clr);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

#billing input:checked {
  background-color: var(--primary-clr);
}

#payment {
  width: 100%;
}
#payment > * {
  --gap: 0;
  width: 50%;
}
#payment > * input {
  width: 20%;
}

#checkout-display {
  display: grid;
  gap: 2rem;
}

#display-item {
  overflow: auto;
  height: 30rem;
  max-height: 50rem;
  flex: none;
}

.cart-checkout {
  display: grid;
  place-content: center;
}
.cart-checkout > * {
  margin-inline: auto;
}

.cart-checkout img {
  width: 60%;
  aspect-ratio: 1;
  border-radius: 10px;
}

@media only screen and (min-width: 35rem) {
  #check-out-bar li:not(:last-child)::after {
    width: min(25vw, 7.5rem);
    max-width: 9rem;
    right: calc(min(25vw, 7.7rem) * -1);
  }
  #display-item {
    height: 50rem;
    max-height: 50rem;
  }
}

@media only screen and (min-width: 45rem) {
  #checkout-display {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  #display-item {
    height: 15.5rem;
    max-height: 15.5rem;
  }

  .cart-checkout {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .cart-checkout img {
    width: 25%;
    align-self: flex-start;
    aspect-ratio: 1;
    margin: 0;
  }
  .cart-checkout h3 {
    text-align: left;
  }
  .cart-checkout p {
    justify-self: start;
  }
  .cart-checkout > div.flex-column {
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
  }

  .cart-checkout > div.flex-column {
    width: 70%;
  }
}
