.primary-body {
  padding-block: 2rem;
  width: 84%;
  max-width: 60rem;
  --gap: 2rem;
}

.primary-body section {
  margin-bottom: 3rem;
}

.displayed-image {
  width: 100%;
  border-radius: 3rem;
  aspect-ratio: 1;
}

#product-navigation {
  flex-direction: column;
}

.img-sm {
  display: none;
}

@media only screen and (min-width: 35rem) {
  .products-list {
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
  }
  #home-section .product-image {
    height: 400px;
  }
  .categories-card {
    margin-inline: unset;
  }
  #product-navigation {
    flex-direction: row;
    justify-content: center;
  }

  #main-image {
    width: 100%;
  }

  #img-section {
    flex-direction: column;
  }

  .img-sm {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    order: 2;
  }

  .img-sm > * {
    width: 30%;
    max-width: 15rem;
    border-radius: 2.5rem;
    aspect-ratio: 1;
  }
}

@media only screen and (min-width: 55rem) {
  .products-list {
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
  }
  #main-image {
    order: 2;
    width: 75%;
  }

  #img-section {
    flex-direction: row;
  }

  .img-sm {
    order: 1;
    width: 25%;
    height: 100%;
  }

  .img-sm {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  .img-sm > * {
    width: 100%;
    max-width: 15rem;
    border-radius: 2.5rem;
    aspect-ratio: 1;
  }
}
