* {
  box-sizing: border-box;
}

.primary-body {
  padding-block: 2rem;
  width: 84%;
  max-width: 60rem;
  --gap: 2rem;
}

.primary-body section {
  margin-bottom: 3rem;
}

.displayed-image {
  width: 100%;
  border-radius: 3rem;
  aspect-ratio: 1;
}
