.primary-body {
  padding-block: 2rem;
  width: 84%;
  max-width: 60rem;
  --gap: 2rem;
}

.form-container {
  width: 100%;
  place-items: center;
  max-width: 35rem;
}

.form-control {
  position: relative;
  width: 100%;
  --gap: 1rem;
}

.form-control input {
  background-color: transparent;
  display: block;
  width: 100%;
  padding-inline-start: 1rem;
  border-radius: 50rem;
}

@media only screen and (min-width: 55rem) {
  .responsive-flex {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}
