@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  /* colors */
  --font-clr: #1a202c;
  --secondary-clr: #2975ff;
  --primary-clr: #00cc96;
  --accent-1-clrs: #f6f7fb;
  --background-clrs: #ffffff;
  --light-grey: #f6f7fb;
  --red-clrs: #ff0000;
  --yellow-clrs: 43 100% 57%;
  --pink-clrs: 337 100% 70%;
  --blue-clrs: 219 100% 58%;
  --cya-clrs: 164 100% 40%;

  /* font size */
  --fs-300: 1rem;
  --fs-400: 1.5rem;
  --fs-500: 1.75rem;
  --fs-700: 2.125rem;
  --fs-200: 0.825rem;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --font-clr: #f7fafc;
    --secondary-clr: #2975ff;
    --primary-clr: #00cc96;
    --accent-1-clrs: #f6f7fb;
    --background-clrs: #14141b;
    --light-grey: #1e1e27;
  } */
}

.darkmode {
  --font-clr: #f7fafc;
  --secondary-clr: #2975ff;
  --primary-clr: #00cc96;
  --accent-1-clrs: #f6f7fb;
  --background-clrs: #14141b;
  --light-grey: #1e1e27;
}

ul,
li,
a,
h1,
h2,
h4,
h3,
h5,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

*::placeholder {
  font-family: "Montserrat", sans-serif;
}

body,
html,
.App {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  line-height: 1.5;
}

.flex {
  display: flex;
  gap: var(--gap, 0rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.re {
  position: relative;
}

.abs {
  position: absolute;
}

.center {
  margin-inline: auto;
}

.center-inline {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-space {
  letter-spacing: 3px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--gap, 1rem);
}

.flex-col-not-center {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.under-line {
  text-decoration: underline;
}
/* utility */
.secondary-clrs {
  color: var(--secondary-clr);
}

.primary-clrs {
  color: var(--primary-clr);
}

.font-clrs {
  color: var(--font-clr);
}

.background-clrs {
  background-color: var(--background-clrs);
}

.red-clrs {
  background-color: var(--red-clrs);
}

.yellow-tag {
  background-color: hsla(var(--yellow-clrs) / 0.2);
  color: hsla(var(--yellow-clrs));
}

.blue-tag {
  background-color: hsla(var(--blue-clrs) / 0.2);
  color: hsla(var(--blue-clrs));
}

.pink-tag {
  background-color: hsla(var(--pink-clrs) / 0.2);
  color: hsla(var(--pink-clrs));
}

.cya-tag {
  background-color: hsla(var(--cya-clrs) / 0.2);
  color: hsla(var(--cya-clrs));
}

.primary-bg {
  background-color: var(--primary-clr);
  color: var(--accent-1-clrs);
}

.font-clrs-bg {
  border: 1px solid var(--font-clr);
  background: transparent;
}

.darkmode .font-clrs-bg {
  background: var(--font-clr);
}

.borderdiv {
  border: 1px solid var(--font-clr);
  background: var(--background-clr);
}
.image-cover-clrs {
  background-color: var(--light-grey);
}

.light-grey-clr {
  color: var(--light-grey);
}

.mid-opacity {
  opacity: 0.9;
}

.low-opacity {
  opacity: 0.5;
}

.active {
  color: var(--primary-clr);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
  letter-spacing: 1px;
}

.fs-500 {
  font-size: var(--fs-500);
  letter-spacing: 1px;
}

.fs-700 {
  font-size: var(--fs-700);
  letter-spacing: 2px;
}
/* Component */
.btn {
  border: 0;
  border-radius: 8rem;
}

.btn:hover {
  opacity: 0.8;
}

.priamry-btn {
  width: var(--width, 10rem);
  padding: 1.1rem 1.2rem;
  text-shadow: 2px;
}
.product-image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 2rem;
}
.width-btn {
  width: 100%;
  padding: 1.2rem;
}
.img-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-btn img {
  aspect-ratio: 1;
  height: 2rem;
}
.product-image img {
  width: 100%;
  border-radius: 2rem;
  aspect-ratio: 1;
}
.card {
  width: 8rem;
  aspect-ratio: 1;
  border-radius: 1rem;
}
.product-card-info {
  align-items: center;
}

.old-price {
  text-decoration: line-through;
  opacity: 0.8;
}

.product-card-info-pricetag {
  --gap: 0.5rem;
  align-items: center;
  margin-left: auto;
}

.tag {
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  width: auto;
  text-align: center;
}

.secondary-tag {
  position: absolute;
  right: -1rem;

  padding: 0.5rem 1rem;
  border-radius: 2rem;
  top: 1rem;
  border: 0;
}

.darkmode .secondary-tag {
  border: 2px solid black;
}

.circle {
  width: 6rem;
  padding: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.small-circle {
  aspect-ratio: 1;
}

.border-image {
  border-radius: 50%;
  width: 80%;
  aspect-ratio: 1;
}

.border {
  border: 2px solid var(--primary-clr);
}

.border-btn {
  border: 2px solid var(--light-grey);
  padding-block: 1.2rem;
}

.blog-review img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 3rem;
}
.left-right-nav {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.button-align {
  --gap: 0.8rem;
}

.blog-container {
  display: flex;
  gap: var(--gap, 1rem);
}
.amount-btn {
  padding: 0.8rem 1rem;
  box-shadow: var(--light-grey) 0px 1px 3px 0px,
    var(--light-grey) 0px 0px 0px 1px;
  border-radius: 2rem;
  justify-content: space-between;
}
.filter {
  justify-content: space-between;
}

.sign-up-form {
  margin-top: 1rem;
  --gap: 2rem;
  flex-direction: column;
}

.sign-in-input {
  border: 1px solid var(--font-clr);
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: 3.5rem;
  border-radius: 100px;
  text-align: center;
  padding-inline: 1rem;
  padding-block: 0.7rem;
  text-align: left;
  z-index: 9;
  width: 100%;
}

.darkmode .sign-in-input {
}
.primary-body {
  padding-block: 2rem;
  width: 84%;
  max-width: 60rem;
  --gap: 2rem;
}

.primary-body section {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 35rem) {
  .secondary-text,
  .title {
    text-align: left;
  }

  .blog-review img {
    width: 100%;
    height: 20rem;
    border-radius: 3rem;
  }

  .blog-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
  }

  .blog-container > *.col2 {
    grid-area: 2;
    grid-column: 1 / span 2;
  }
  .re > .button-align {
    position: absolute;
    right: 0;
    top: 3rem;
  }

  .product-image img {
    width: 100%;
    border-radius: 2rem;
    height: 100%;
  }

  .sign-up-form {
    flex-direction: row;
  }
  .form-section > * {
    text-align: center;
  }
}
